* {
  box-sizing: border-box;
}
header {
  position: fixed;
  width: 100%;
  height: 60px;
  max-height: 60px;
  z-index: 1;
  background-color: white;
}
#headercontainer {
  position: relative;
  display: flex;
  height: 100%;
}
.row {
  display: flex;
  height: 100%;
  width: fit-content;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
img {
  align-self: center;
}
.column {
  display: flex;
  align-items: center;
  height: 100%;
}

#menu-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .column:not(#menu-button) {
    display: none;
  }
}

hr {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
}

#menu-button {
  margin-left: 30px;
  margin-right: 30px;
}

#logo {
  margin-right: 10px;
}

#Calendar-header {
  margin-right: 20px;
}
#today-button {
  margin-left: 70px;
  margin-right: 20px;
}

#top-right {
  margin-left: auto;
}
