html,
body,
#root {
  height: 100%;
}

#screen {
  position: absolute;
  background-color: gray;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}

#loginbox {
  display: flex;
  width: 500px;
  height: 500px;
  min-width: 500px;
  justify-content: space-between;
  background-color: white;
  flex-wrap: wrap;
}
Link {
  margin-right: auto;
}

label {
  margin-right: auto;
}

#error {
  color: red;
}
