#monthGridContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

#weekDayHeader {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
#daysGrid {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#gridrow {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex: 1;
  flex-basis: 18%;
}
.grid-cell {
  min-width: 100px;
  min-height: 141px;
  flex: 1;
  flex-basis: 14%;
  border: 1px solid black;
}

.cell-clicker {
  display: flex;
  justify-content: center;
}
