.calendar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
#calendarHead {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#monthText {
  margin-right: auto;
}
.calendarRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.calendarBlock {
  display: flex;
  width: 31px;
  justify-content: center;
}
.select {
  display: flex;
  justify-content: center;
  width: 21.6px !important;
  border-radius: 50%;
  width: 100%;
}
.select:hover {
  background-color: #bebebe;
  cursor: pointer;
}

span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.notCurrentMonth {
  color: gray;
}
