div {
  margin-right: 0;
  padding-right: 0;
}
#button-space {
  position: fixed;
  height: 84px;
  width: 240px;
  z-index: 1;
  background-color: white;
}
#sidebar {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  margin-top: 84px;
}
#sidebar-calendar {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 244px;
  width: 248px;
  padding-left: 19px;
  padding-right: 12px;
  padding-bottom: 16px;
}
