* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#pop-up-container {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
#pop-up > * {
  display: flex;
}
#popupBox {
  height: fit-content;
  width: 300px;
  border: 1px solid black;
  flex-direction: column;
}
textarea {
  resize: none;
}
#big-container {
  width: 100%;
}
#create {
  position: fixed;
  top: 79px;
  left: 10px;
  z-index: 2;
}

.row1 {
  display: flex;
  position: absolute;
  top: 60px;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: top;
}

#inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
}

.yearMonths {
  height: 244px;
  flex: 0 0 241px;
  margin-right: 70px;
}
